<div class="instragram_area">
    <div class="section_title mb-60 text-center">
        <span>Our Instagram</span>
    </div>
<div class="container">
    <div class="row">
        {% for photo in inst_photo %}
        <div class="col-lg-3 col-md-6">
            <div class="single_instagram">
                <img src="{{ photo.photo.url }}" alt="">
                <div class="ovrelay">
                    <a href="{{ photo.url }}">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>